<div class="title">
  <h1>About</h1>
</div>

<div class="about-box">
  <p>This website uses the <a href="https://www.sakugabooru.com">sakugabooru</a> api to provide an endless random loop of your favorites sakuga clip. Just enter your username on sakugabooru and get access to the loop!</p>

  <p>The CSS is still WIP (I'm very bad at it).</p>

  <p>This website is a way for me to learn and try Angular and has not major goal besides this one. <b>No AI has been involved at any point</b>.</p>

</div>

<button (click)="onGoHome()">Home</button>
