<!-- <form #emailForm="ngForm" (ngSubmit)="onRequestUsername(emailForm)">
  <label for="userInput">Username</label>
  <input id="userInput" [(ngModel)]="userInput" name="username">
  <button type="submit">Submit</button>
</form> -->

<div class="title">
  <h1>Sakugaloop</h1>
</div>

<div class="go-to-video">
  <form [formGroup]="inputForm">
    <div class="form-title">
      <h1>Start</h1>
    </div>
    <div class="form-group">
      <label for="username">Sakugabooru username</label>
      <input id="username" type="text" formControlName="username">
    </div>
    <div class="action-buttons">
      <button type="submit" (click)="onRequestUsername()" [disabled]="inputForm.invalid">Start</button>
    </div>
  </form>
</div>

<div class="about-button">
  <button (click)="onGoAbout()">About</button>
</div>
